/gameTemplate/Win32/
/gameTemplate/AS_DEBUG/
/gameTemplate/.vs/
/gameTemplate/gameTemplate.sdf
/gameTemplate/gameTemplate.VC.opendb
/gameTemplate/nbproject/
/gameTemplate/build/

/battleHardened/Win32/
/battleHardened/AS_DEBUG/
/battleHardened/.vs/
/battleHardened/battleHardened.sdf
/battleHardened/battleHardened.VC.opendb
/battleHardened/nbproject/
/battleHardened/build/

/HugesWhoSlots/Win32/
/HugesWhoSlots/AS_DEBUG/
/HugesWhoSlots/.vs/
/HugesWhoSlots/HugesWhoSlots.sdf
/HugesWhoSlots/HugesWhoSlots.VC.opendb
/HugesWhoSlots/nbproject/
/HugesWhoSlots/build/

/PachinkoChallenge/Win32/
/PachinkoChallenge/AS_DEBUG/
/PachinkoChallenge/.vs/
/PachinkoChallenge/PachinkoChallenge.sdf
/PachinkoChallenge/PachinkoChallenge.VC.opendb
/PachinkoChallenge/nbproject/
/PachinkoChallenge/build/

/KittyBall/Win32/
/KittyBall/AS_DEBUG/
/KittyBall/.vs/
/KittyBall/KittyBall.sdf
/KittyBall/KittyBall.VC.opendb
/KittyBall/nbproject/
/KittyBall/build/

/consoleTestAp/Win32/
/consoleTestAp/AS_DEBUG/
/consoleTestAp/.vs/
/consoleTestAp/KittyBall.sdf
/consoleTestAp/consoleTestAp.VC.opendb
/consoleTestAp/nbproject/
/consoleTestAp/build/

/library/Win32/

/angelscript/projects/msvc2015/Win32/
/angelscript/projects/msvc2015/angelscript.vcxproj.user

/Box2D/Win32/
/Box2D/Box2D.vcxproj.user

/bulletPhysics/build3/vs2010/Win32/

/*.user
/CppApplication_1/build/
/CppApplication_1/dist/