/gameTemplate/Win32/
/gameTemplate/AS_DEBUG/
/gameTemplate/.vs/
/gameTemplate/gameTemplate.sdf
/battleHardened/Win32/
/battleHardened/AS_DEBUG/
/battleHardened/.vs/
/battleHardened/battleHardened.sdf
/HugesWhoSlots/Win32/
/HugesWhoSlots/AS_DEBUG/
/HugesWhoSlots/.vs/
/HugesWhoSlots/HugesWhoSlots.sdf
/PachinkoChallenge/Win32/
/PachinkoChallenge/AS_DEBUG/
/PachinkoChallenge/.vs/
/PachinkoChallenge/PachinkoChallenge.sdf
/PachinkoChallenge/PachinkoChallenge.VC.opendb
/library/Win32/
/angelscript/projects/msvc2015/Win32/
/angelscript/projects/msvc2015/angelscript.vcxproj.user
/Box2D/Win32/
/Box2D/Box2D.vcxproj.user
/bulletPhysics/build3/vs2010/Win32/
/*.user
/battleHardened/nbproject/
/PachinkoChallenge/nbproject/
/gameTemplate/nbproject/
/HugesWhoSlots/nbproject/
/gameTemplate/build/
/HugesWhoSlots/build/
/battleHardened/build/
/PachinkoChallenge/build/
/KittyBall/Win32/
/KittyBall/AS_DEBUG/
/KittyBall/.vs/
/KittyBall/KittyBall.sdf
/KittyBall/nbproject/
/KittyBall/KittyBall.VC.opendb